.education { 
    position: relative;
}
.education li {
    position: relative;
    margin-bottom: 40px;
}
.education ul, .edit-education  {
    list-style-type: none;
}

.education ul h3 , .education ul .city{
    display: inline-block;
}
.education li > *{
    margin-bottom: 5px;
}

.edit-education input {
    padding: 5px;
}
.edit-education  label {
    display: block;
    margin-top: 20px;
}
.edit-education input {
    display: block;
}
.edit-education li {
    position: relative;
}
.edit-education  li{
    display: flex;  
    flex-wrap: wrap ;
    justify-content: space-between;
}
.edit-education li+li {
    margin-top: 20px;
}
.edit-education .buttons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:500px) {
    .education .date {
        margin-top: 10px;
        top: 100%;
        left: 0;
    }
}