.education { 
    position: relative;
}
.education li {
    position: relative;
    margin-bottom: 40px;
}
.education ul, .edit-education  {
    list-style-type: none;
}

.education ul h3 , .education ul .city{
    display: inline-block;
}
.education li > *{
    margin-bottom: 5px;
}
.edit-education li >label +label {
    margin-left: 20px;
}
.edit-education input {
    padding: 5px;
    margin-left: 5px;
}
.edit-education  label {
    display: inline-block;
    margin-top: 20px;
}
.edit-education li {
    position: relative;
}
.edit-education {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
}
.edit-education li+li {
    margin-top: 40px;
}
@media (max-width:500px) {
    .education .date {
        top: 100%;
        left: 0;
    }
}