.personal {
    text-align: center;
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
}
.personal p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.edit-personal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.edit-personal >*:not(button) {
    margin: 20px;
}

.edit-personal > label > input {
    margin-left: 5px;
    padding: 5px;
    font-size: 0.9rem;
}
.edit-personal .buttons {
    margin-left: 50px;
}
@media (max-width:500px){
    .personal {
        padding-top: 40px;
    }
}